.boton1{
    padding: 10px;
    border: 2px solid black;
    color: white;
    background-color:darkcyan;
}
.boton2{
    padding: 10px;
    border: 2px solid black;
    color: white;
    background-color:darkcyan;
    opacity: 20%;
    
}
.boton3{
    padding: 10px;
    border: 2px solid black;
    color: white;
    background-color:darkcyan;
}